In [8]:
import pandas as pd
import numpy as np
import matplotlib .pyplot as plt
import scipy as sp
from scipy.stats import chi2_contingency

###  HO:% of defective of all countries are equal i.e%Philliphines=%Indonesia%=%Malta=%India                 Ha:Atleast one defective % is not equal.

In [5]:
tele_order=pd.read_csv("Costomer+OrderForm.csv")
tele_order

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [6]:
tele_order.value_counts()

Phillippines  Indonesia   Malta       India
Error Free    Error Free  Error Free  Error Free    206
Defective     Error Free  Error Free  Error Free     21
Error Free    Defective   Error Free  Error Free     20
              Error Free  Defective   Error Free     18
                          Error Free  Defective      16
              Defective   Defective   Error Free      9
Defective     Error Free  Defective   Error Free      4
              Defective   Error Free  Error Free      2
              Error Free  Error Free  Defective       2
Error Free    Defective   Error Free  Defective       2
dtype: int64

In [12]:
tele_order.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [13]:
tele_order.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [14]:
tele_order.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [15]:
tele_order.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [24]:
order_array=np.array([[271,267,269,280],[29,33,31,20]])

In [25]:
order_array

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [26]:
chi2_contingency(order_array)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [27]:
p_value=0.27771

In [28]:
if p_value<0.05:
    print("we reject null Hypothesis")
else:
    print("we acccept null Hypothesis")

we acccept null Hypothesis

In [ ]:
p_value is high hence accept the null hypothesis i.e  percentage defective in all countries are equal inference.